body {
  font-family: "Lato", sans-serif;
  color: #232323;
}

.img_logo {
  height: 80px;
}

.img_cart {
  height: 25px;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

section.hero {
  background: #F8F8F8;
}

.card {
  background: #F8F8F8;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #FE5F1E;
  border-color: #fff;
  color: #fff;
}

.Order-now {
  background: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.Order-now:hover {
  background: #b23301;
}

.amount {
  color: #FE5F1E;
}

section.login {
  background: #F8F8F8;
  min-height: calc(100vh - 105px);
}
section.login a {
  color: #FE5F1E;
}
section.login a:hover {
  color: #b23301;
}
